{% extends 'base.html' %}

{% block title %}Create Request{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Создание заявки</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.device.label_tag }}
                            {{ form.device }}
                        </div>
                        <div class="form-group">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Подтвердить✅</button>
                    </form>
                    <div class="mt-3 text-center">
                        <a href="{% url 'request_list' %}" class="btn btn-secondary">Посмотреть заявки📂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}