{% extends 'base.html' %}

{% block title %}Request List{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Ваши заявки📂</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for request in requests %}
                            <li class="list-group-item">
                                <div class="d-flex flex-column">
                                    <strong>Устройство:</strong>
                                    {% if request.device %}
                                        {{ request.device.name }}
                                    {% else %}
                                        Нет Устройства
                                    {% endif %}
                                    <strong>Описание заявки:</strong>
                                    {{ request.description }}
                                    <strong>Статус:</strong>
                                    {{ request.get_status_display }}
                                    <strong>Создана:</strong>
                                    {{ request.created_at }}
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item text-center">Заявок нету.</li>
                        {% endfor %}
                    </ul>
                    <div class="mt-3 text-center">
                        <a href="{% url 'create_request' %}" class="btn btn-primary">Создать новую заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}