{% extends 'base.html' %}

{% block title %}Request List{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Ваши заявки📂</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for request in requests %}
                            <li class="list-group-item">
                                <div class="d-flex flex-column">
                                    <strong>Устройство:</strong>
                                    {% if request.device %}
                                        {{ request.device.name }}
                                    {% else %}
                                        Нет Устройства
                                    {% endif %}
                                    
                                    <strong>Описание заявки:</strong>
                                    {{ request.description }}
                                    
                                    <strong>Статус:</strong>
                                    {{ request.get_status_display }}
                                    
                                    {% if request.technician %}
                                        <strong>Принята техником:</strong>
                                        {{ request.technician.first_name }} {{ request.technician.last_name }}
                                    {% endif %}
                                    
                                    <strong>Создана:</strong>
                                    {{ request.created_at }}
                                    
                                    {# Кнопка "Изменить статус" — только для техникa, если заявка не закрыта #}
                                    {% if request.status != 'closed' and user.groups.all.0.name == 'Technician' %}
                                        <a href="{% url 'change_status' request.id %}" class="btn btn-secondary mt-2">Изменить статус</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item text-center">Заявок нету.</li>
                        {% endfor %}
                    </ul>

                    {# Кнопка "Создать заявку" — только для обычного пользователя #}
                    {% if not user.groups.all.0.name == 'Technician' %}
                        <div class="mt-3 text-center">
                            <a href="{% url 'create_request' %}" class="btn btn-primary">Создать новую заявку</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
