{% extends 'base.html' %}

{% block title %}Списанные устройства{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Списанные устройства</h2>
                </div>
                <div class="card-body">
                    {% if written_off_devices %}
                        <ul class="list-group">
                            {% for device in written_off_devices %}
                                <li class="list-group-item">
                                    <div class="d-flex flex-column">
                                        <strong>Устройство:</strong> {{ device.device.name }}
                                        <strong>Дата списания:</strong> {{ device.written_off_at }}
                                        <a href="{% url 'download_written_off_act' device.device.id %}" class="btn btn-primary mt-2">Скачать акт списания</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-center">Нет списанных устройств.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
